/*!Base start*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  /* }
 .logo {
  font-size: 24px;
  font-weight: 500;
  display: flex; */
}
button {
  cursor: pointer;
  border: none;
}
.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 25px;
  border: 1px solid black;
  transition: 0.2s ease all;
  font-weight: 500;
}
.btn-sm {
  line-height: 33px;
}

.btn-md {
  line-height: 45px;
}
.btn-primary {
  background-color: #1367ef;
  color: white;
  border-color: #1367ef;
}
.btn-primary:hover {
  background-color: white;
  color: #1367ef;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  outline: none;
  border: 1px solid #dee0ea;
  padding: 8px 8px 8px 15px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  border-color: grey;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
/*! base end*/

/*!header start*/
header {
  border-bottom: 1px solid #dee0ea;
  position: relative; /*shop menüsü için yapıldı*/
}
.global-notifaction {
  background-color: #1367ef;
  padding: 14px 0;
  text-align: center;
  font-size: 12px;
  color: white;
}

.global-notifaction a {
  font-weight: 600;
  color: white;
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left .logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}
.header-center .navigation .menu-list {
  display: flex;
  column-gap: 30px; /* menu list altındaki bütün li ler birbirinden uzaklaşıyor*/
  align-items: center;
}
.header-center .menu-list .menu-list-item {
  display: flex; /*li ile a nın kapaldığı alanı eşitledik*/
  position: relative; /*dropdown*/
  align-items: center;
  height: 90px;
}
.header-center .menu-list .menu-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px; /*harflerin arasındaki boşluk*/
  position: relative;
}
.header-center .menu-list .menu-link.active::after {
  width: 100%;
}
.header-center .menu-list .menu-link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #1367ef;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: 0.2s ease width;
}
.header-center .menu-list .menu-list-item:hover .menu-link::after {
  width: 100%;
}

.header-center .menu-list i {
  font-size: 12px;
}

.header-right .header-right-links {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.header-right .bi-person {
  font-size: 23px;
}
.header-right .toggle-button {
  border: none;
  background-color: transparent;
}

.header-right i {
  font-size: 18px;
  display: flex;
}
.header-right .header-cart {
  position: relative;
}
.header-right .header-cart-link .header-cart-count {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #1367ef;
  color: white;
  font-size: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  top: -12px;
  right: -12px;
  font-weight: 500px;
}

/*? Menü dropdown start */
.menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: -30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.menu-dropdown-content {
  width: 220px;
  background-color: white;
  border: 1px solid #dee0ea;
  display: flex;
  flex-direction: column;
  padding: 18px 0;
}
.menu-dropdown-content a {
  display: flex;
  padding: 4px 30px;
  font-size: 14px;
  transition: color 0.2s ease;
}
.menu-dropdown-content a:hover {
  color: #1367ef;
}
.header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}
.menu-dropdown-megamenu {
  background-color: white;
  border: 1px solid #dee0ea;
  padding: 22px;
  display: flex;
  column-gap: 50px;
}
.megamenu-wrapper .menu-dropdown-wrapper {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.megamenu-wrapper {
  position: static !important;
}
.megamenu-wrapper .megamenu-links {
  display: flex;
  column-gap: 50px;
}
.megamenu-wrapper .megamenu-products-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.megamenu-wrapper .megamenu-list {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.megamenu-wrapper .megamenu-menu-list a {
  font-size: 14px;
}
.megamenu-wrapper .megamenu-single-title {
  font-size: 18px;
  font-weight: 500;
}
.megamenu-wrapper .megamenu-single-subtitle {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}
.megamenu-wrapper .megamenu-single-button {
  margin-top: 5px;
}
/*? Menü dropdown end */
/*!header end*/
